/* место для вашего кода */

.header {
  margin: 92px 0px 96px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}


.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__link-no-underline {
  text-decoration: none;
}

.header__logo {
  display: block;
  margin-right: 140px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  background-image: url(../images/logo-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.address {
  margin-right: 19px;
  font-style: normal;
}

/* cover */

.cover {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 757px;
  color: #FFF;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.cover-title {
  position: relative;
  top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  letter-spacing: 30px;
}

.aligned-text {
  align-self: start;
  margin-left: 33px;
}

.aligned-text_center {
  align-self: center;
  line-height: 98px;
  padding-right: 45px;
}

.aligned-text_right {
  align-self: end;
  line-height: 101px;
  margin-right: 22px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  top: 300px;
  text-align: center;
}

.cover__description-text {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0 75px 0 350px;
  letter-spacing: 0.5px;
  word-spacing: 15px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

/*
  lots
*/

.lots {
  display: flex;
  flex-direction: column;
  margin: 0 50px 0;
}

.lots__heading {
  margin: 180px 0 27px 60px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  flex: 0 1 430px;
  list-style-type: none;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card-link:hover {
  cursor: pointer;
}

.card_type_film {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.card_type_book {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.card_type_picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #FFF;
  flex-grow: 1;
}

.card__title {
  margin: 50px 40px 0;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  margin: 0 40px 50px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  margin-top: 30px;
  border-bottom: 1px solid black;
  width: 192px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* about */

.about {
  padding-top: 180px;
  position: relative;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 1000px;
  background-color: #000;
  z-index: -3;
}

.about__logo-image {
  padding: 116px;
  background-image: url(../images/logo-white.svg);
  background-size: 148px 114px;
  background-position: center;
  background-repeat: no-repeat;
}

.about__column {
  padding-top: 100px;
  grid-column-start: span 2;
}

.about__title {
  padding-bottom: 100px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  padding-right: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* footer */

.footer {
  padding: 180px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  font-size: 18px;
}

.footer__links-list {
  list-style: none;
  text-align: center;
}

.footer__link-no-underline {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}