/* место для вашего кода */

.header {
  margin: 92px 0px 96px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}


.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__link-no-underline {
  text-decoration: none;
}

.header__logo {
  display: block;
  margin-right: 150px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  background-image: url(../images/logo-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.address {
  font-style: normal;
}

/* cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 757px;
  color: #FFF;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.cover-title {
  position: relative;
  top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  letter-spacing: 30px;
}

.aligned-text {
  justify-self: start;
  align-self: start;
  margin-left: 50px;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
}

.aligned-text_right {
  justify-self: end;
  align-self: end;
  margin-right: 50px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  top: 295px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cover__description-text {
  grid-column: 2/10;
  justify-self: center;
  align-self: center;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 15px;
}

.bet-button {
  justify-self: end;
  width: 257px;
  height: 52px;
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}